<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Astroworld" Language="1033" Version="1.0.0.0"
           Manufacturer="Astroworld Inc." UpgradeCode="PUT-YOUR-GUID-HERE">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MediaTemplate />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Astroworld" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramsFolder">
          <Directory Id="ApplicationProgramsFolder" Name="Astroworld" />
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="PUT-ANOTHER-GUID-HERE">
        <File Id="AstroExe" Source="$(var.AstroworldDir)\Astroworld.exe" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <Feature Id="ProductFeature" Title="Astroworld" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ProgramMenuShortcut" Guid="PUT-GUID-HERE">
        <Shortcut Id="AstroStartMenuShortcut" Name="Astroworld"
                  Target="[INSTALLFOLDER]Astroworld.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Astroworld" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="PUT-GUID-HERE">
        <Shortcut Id="AstroDesktopShortcut" Name="Astroworld"
                  Target="[INSTALLFOLDER]Astroworld.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveDesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Astroworld" Name="desktop" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Product>
</Wix>
